﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
 
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (ViewBag.PageTag == 1)
                    {
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    }
                    @if (ViewBag.PageTag == 2)
                    {
                        <li class="active">@Html.ActionLink("Customers", "Index", "Customers")</li>

                    }
                    else
                    {
                        <li>@Html.ActionLink("Customers", "Index", "Customers")</li>

                    }
                    @if (ViewBag.PageTag == 3)
                    {
                        <li class="active">@Html.ActionLink("Weather API", "Index", "Weather")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Weather API", "Index", "Weather")</li>

                    }

                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
