﻿@model PDFTest.ViewModels.WeatherViewModel
@{
    ViewBag.Title = "Index";
}


<section>
    <div class="page-header">
        <h2>Weather API</h2>
    </div>
</section>


<div class="row">
    <div class="col-md-6">
        <div class="well">
            @*@using (Html.BeginForm("GetWeather", "Weather", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
                {*@
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <fieldset>
                <legend>
                    <span style="color: #2196f3">Get Current Weather (OpenWeatherMap)</span>
                </legend>
                @Html.Label("Select city", new { @class = "control-label  " })

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownListFor(m => m.CityId, Model.CitieSelectList, new { @class = "form-control", })

                        @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-lg-10 col-lg-offset-2 ">
                        <button type="button" id="submit" class="btn btn-primary pull-right" style="margin: 2px">Submit</button>

                    </div>
                </div>
            </fieldset>
            @*}*@
        </div>
    </div>
</div>


<div class="col-md-12" id="ContainerDiv" hidden="hidden">
    <p> Result </p>
    <h4> City : <span data-bind="text:name"></span></h4>
    @*<h4> City Id : <span data-bind="text:id"></span></h4>*@
    <h4> Temperate : <span data-bind="text:main.temp"></span></h4>
    <h4> humidity : <span data-bind="text:main.humidity"></span></h4>
</div>
@section scripts
{

    <link href="~/Content/css/select2.css" rel="stylesheet" />
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/knockout-2.0.0.js"></script>

    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script>

        var weather = Object();

        $(document).ready(function () {

            $('#CityId').select2();
            $("#submit").on("click", function () {
                var link = '@Url.Action("GetTheWeathers", "Weather", new { id= -1 })';
                link = link.replace("-1", $('#CityId').val());
                $.get(link, function (response) {
                    weather = ko.mapping.fromJS(response);
                    ko.applyBindings(weather);
                });
                $("#ContainerDiv").show();
            });

        });


    </script>
}
