﻿@model IEnumerable<PDFTest.Models.Customer>

@{
    Layout = "~/Views/Shared/_LayoutForPDF.cshtml";
}



<h2>Customer List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>

        </tr>
    }

</table>


<p> before page break</p>

<P CLASS="breakhere">

<p> after page break</p>
    

@section scripts
{
    <STYLE TYPE="text/css">
        .breakhere { page-break-after: always }
    </STYLE>
}
