﻿@using PagedList
@using PagedList.Mvc
@model IEnumerable<PDFTest.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <p>
        @*@Html.ActionLink("CreateNew", "Create", null, new { @class = "btn btn-primary   pull-right" })*@
        <h3>
            Available Customers
        </h3>
    </p>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Get PDf", "CustomersList", null, new { @class = "btn btn-info   "  ,style="margin-right:2px", target = "_blank" })
                @Html.ActionLink("Download PDf", "CustomersAsPdf", null, new { @class = "btn btn-success  " ,style = "margin-right:2px"})  
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |*@
                @Html.ActionLink("Print", "PrintCustomerInfo", new { id = item.Id } , new { target = "_blank" ,@class ="btn-success btn-sm"})
            </td>
        </tr>
    }

</table>
<div class="row text-center">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
</div>